.card-link{
    color: brown;
}

#img_container .card-img{
    max-width: 12em;
    height: auto;
    filter:  saturate(0);
    text-align: center;
    border-radius: 15%;
}
#img_container .card-img:hover{
    filter: none;
    
    transform: scale(1.1);
}
#img_container{
    margin-top: 3em;
    align-items: center;
    position: relative;
}
#profile{
    margin-left: 15em;
    margin-top: 3em;
    align-items: center;
}


#main_body{
    margin:5em 8em;
    padding-right: 2em;
}

#header{
    margin-left: 5em;
}
h3{
    padding: 1em 0em;
}
p{
    padding-left: 1em;
}